<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-info" [routerLink]="['/companies/create']">עסק חדש</button>
    <button type="button" class="btn btn-success" (click)="openPushModal(push, null)">פוש לכל חברות</button>
  </div>
  <div class="col-md-9">
    <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
  </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

  <!-- Column Templates -->

  <ngx-datatable-column name="לוגו" [sortable]="false" [maxWidth]="100">
    <ng-template let-row="row" ngx-datatable-cell-template align="center">
      <img [src]="row.picture" height="50" width="50" *ngIf="row.picture !== ''">
      <img src="assets/images/placeholders/logo.png" height="50" width="50" *ngIf="row.picture === ''">
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="שם" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.name}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="טלפון" [sortable]="false" [maxWidth]="180">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong *ngIf="row.phone">{{row.phone}}</strong>
      <strong *ngIf="!row.phone">אין נתונים</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="כתובת" [sortable]="false" [maxWidth]="250">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.address}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="פעולות" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button type="button" class="btn btn-success" (click)="openPushModal(push, row)">פוש</button>
      <button type="button" class="btn btn-info" [routerLink]="['/companies/' + row.id]">הזמנות</button>
      <button type="button" class="btn btn-dark" [routerLink]="['/companies/' + row.id + '/employees']">עובדים</button>
      <button type="button" class="btn btn-warning" [routerLink]="['/companies/edit', row.id]">ערוך</button>
      <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">מחק עסק</h6>
    <button type="button" class="close" aria-label="סגור" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">בטוח שרוצה למחוק את העסק?</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
    <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
  </div>
</ng-template>

<ng-template #push>
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">לשלוח פוש</h6>
    <button type="button" class="close" aria-label="סגור" (click)="closePushModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea *ngIf="!sent" rows="3"  dir="rtl" placeholder="הודעה..." [(ngModel)]="pushText" style="width: 100%;"></textarea>
    <div *ngIf="inProcess">
      Please wait...
    </div>
    <div  *ngIf="sent">
      <ngb-alert [dismissible]="false" style="width: 100%;" type="success">
        Successfully sent!
      </ngb-alert>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closePushModal()">סגור</button>
    <button type="button" *ngIf="!sent" class="btn btn-primary" [disabled]="pushText == ''" (click)="sendPush()">שלח</button>
  </div>
</ng-template>