<div class="main-div">

    <ngx-datatable
            [headerHeight]="40"
            [footerHeight]="'falsey'"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [columnMode]="'force'"
            [rows]="rows">

        <!-- Column Templates -->

        <ngx-datatable-column name="שם">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <strong>{{row.name}}</strong>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="טלפון" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <strong *ngIf="row.phone">{{row.phone}}</strong>
                <strong *ngIf="!row.phone">אין נתונים</strong>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="שם העסק">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <strong>{{row.company.name}}</strong>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="תעודת זהות" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.idcard}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="מקבל פוש">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="row.push_id !== ''">
                    <img src="assets/images/checkmark.png" height="20">
                </div>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>


</div>







