<div class="row text-right" dir="rtl">
    <div class="col-md-3 col-sm-6">
        <div class="card card-body card-widget border bg-red">
            <div class="widget-icon rounded-circle pt-2 bg-white text-dark">
                <h5 class="mb-0 fw-400">
                    {{types.main_dish}}
                </h5>
            </div>
            <div class="block ml-3 mr-3">
                <strong>מנות עיקריות</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card card-body card-widget border bg-blue">
            <div class="widget-icon rounded-circle bg-white text-dark pt-2">
                <h5 class="mb-0 fw-400">
                    {{types.salat}}
                </h5>
            </div>
            <div class="block ml-3 mr-3">
                <strong>סלטים</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card card-body card-widget border bg-yellow">
            <div class="widget-icon rounded-circle bg-white text-dark pt-2">
                <h5 class="mb-0 fw-400">
                    {{types.sandwich}}
                </h5>
            </div>
            <div class="block ml-3 mr-3">
                <strong>כריכים</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card card-body card-widget border bg-green">
            <div class="widget-icon rounded-circle bg-white text-dark pt-2">
                <h5 class="mb-0 fw-400">
                    {{types.fastfood}}
                </h5>
            </div>
            <div class="block ml-3 mr-3">
                <strong>מנות ארוזות</strong>
            </div>
        </div>
    </div>
</div>

<div class="row p-2" *ngIf="sent">
    <div class="col-md-12">
        <ngb-alert [dismissible]="false" style="width: 100%;" type="success">
            Successfully sent!
        </ngb-alert>
    </div>
</div>

<div class="row">
    <div class="col-md-2" *ngIf="admin">
        <button class="btn btn-dark" (click)="sendMenu()">תפריט למייל</button>
    </div>
    <div [ngClass]="{'col-md-10': admin, 'col-md-12': !admin}">
        <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the title column..." required
               (keyup)='updateFilter($event)'>
    </div>
</div>
<div class="row p-2">
    <div class="col-md-4 text-left">
        <div class="btn-group" role="group">
            <button type="button" class="btn"
                    [ngClass]="{'btn-secondary' : gap !== 'months', 'btn-info' : gap === 'months'}"
                    (click)="selectGap('months')">חודש
            </button>
            <button type="button" class="btn"
                    [ngClass]="{'btn-secondary' : gap !== 'weeks', 'btn-info' : gap === 'weeks'}"
                    (click)="selectGap('weeks')">שבוע
            </button>
            <button type="button" class="btn"
                    [ngClass]="{'btn-secondary' : gap !== 'days', 'btn-info' : gap === 'days'}"
                    (click)="selectGap('days')">יום
            </button>
        </div>
    </div>
    <div class="col-md-8 text-right">
        <button class="btn btn-dark" *ngIf="admin" [disabled]="gap !== 'months'" (click)="sendMonthReport()">לקבל דווח חודשי</button>
        <button class="btn btn-dark" *ngIf="admin" (click)="sendReport()">לקבל דווח למייל המנהל</button>
        <button class="btn btn-dark" (click)="sendReportToCompany()">לקבל דווח למייל העסק</button>
        <span>תאריך נבחר: </span>
        <span>{{start | amDateFormat: 'DD/MM/YYYY'}} - {{end | amDateFormat: 'DD/MM/YYYY'}}</span>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary" (click)="assignDates('backward')">אחורה</button>
            <button type="button" class="btn btn-secondary" (click)="assignDates('forward')">קדימה</button>
        </div>
    </div>
</div>
<div class="row text-right" dir="rtl">
    <div class="col-md-2 p-1 pt-0" *ngIf="cookOrders && cookOrders.length">
        <div class="row mb-1 bg-white p-2" *ngFor="let cookOrder of cookOrders">
            <div class="col-md-3">
                <div class="number-circle" [ngClass]="{
            'bg-red' : cookOrder.main,
            'bg-blue' : cookOrder.mod1,
            'bg-yellow' : cookOrder.mod2_first || cookOrder.mod2_second,
            'bg-green': cookOrder.drink,
            'bg-dark': cookOrder.fastfood
            }">{{cookOrder.count}}</div>
            </div>
            <div class="col-md-9">
                {{cookOrder.dish.name}}
            </div>
        </div>
    </div>

    <div [ngClass]="{'col-md-12': cookOrders && !cookOrders.length, 'col-md-10' : cookOrders && cookOrders.length}">

        <ngx-datatable
                [headerHeight]="40"
                [footerHeight]="'falsey'"
                [rowHeight]="'auto'"
                [scrollbarH]="true"
                [columnMode]="'force'"
                [rows]="rows">

            <!-- Column Templates -->

            <ngx-datatable-column name="שם הלקוח" [width]="150" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong *ngIf="row.customer">{{row.customer.name}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="עסק" [width]="150" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong *ngIf="row.customer">{{row.company.name}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="סוג אוכל" [width]="150" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.food_type == 0">מנה מוגשת</div>
                    <div *ngIf="row.food_type == 1">כריך</div>
                    <div *ngIf="row.food_type == 2">סלט</div>
                    <div *ngIf="row.food_type == 3">מנה ארוזה</div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="מנה" [cellClass]="'dish'" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.food_type == 0">
                        <div>מנה עיקרית: {{row.main.name}}</div>
                        <div>לחם: {{row.mod1.name}}</div>
                        <div>תוספות: {{row.mod2_second.name}} ,{{row.mod2_first.name}}</div>
                        <div>שתיה: {{row.drink.name}}</div>
                    </div>
                    <div *ngIf="row.food_type == 1">
                        <div>כריך: {{row.main.name}}</div>
                        <div>לחם: {{row.mod1.name}}</div>
                        <div>רטבים: {{row.mod2_second.name}} {{row.mod2_first.name}}</div>
                        <div>שתיה: {{row.drink.name}}</div>
                    </div>
                    <div *ngIf="row.food_type == 2">
                        <div>סלט: {{row.main.name}}</div>
                        <div>לחם: {{row.mod1.name}}</div>
                        <div>רטבים: {{row.mod2_second.name}} {{row.mod2_first.name}}</div>
                        <div>שתיה: {{row.drink.name}}</div>
                    </div>
                    <div *ngIf="row.food_type == 3">
                        <div>מנה ארוזה: {{row.fastfood.name}}</div>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="הערות" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>{{row.comments}}</div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="תאריך הזמנה" [width]="150" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>{{row.order_date}}</div>
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="פעולות" [sortable]="false" [width]="100" *ngIf="admin">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
                </ng-template>
            </ngx-datatable-column>



        </ngx-datatable>


        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h6 class="modal-title text-uppercase">מחק הזמנה</h6>
                <button type="button" class="close" aria-label="סגור" (click)="d()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">בטוח שרוצה למחוק את ההזמנה?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
                <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
            </div>
        </ng-template>


    </div>
</div>