<div class="row">
  <div class="col-md-2">
    <button type="button" class="btn btn-info" [routerLink]="['/companies/' + company_id + '/employees/create']">עובד חדש</button>
  </div>
  <div class="col-md-10">
    <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
  </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

  <!-- Column Templates -->

  <ngx-datatable-column name="תמונה" [sortable]="false" [maxWidth]="180">
    <ng-template let-row="row" ngx-datatable-cell-template align="center">
      <img [src]="row.picture" height="50" width="50" *ngIf="row.picture !== ''">
      <img src="assets/images/placeholders/logo.png" height="50" width="50" *ngIf="row.picture === ''">
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="שם">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.name}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="טלפון" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong *ngIf="row.phone">{{row.phone}}</strong>
      <strong *ngIf="!row.phone">אין נתונים</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="תעודת זהות" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.idcard}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="מקבל פוש">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div *ngIf="row.push_id !== ''">
        <img src="assets/images/checkmark.png" height="20">
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="פעולות" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button type="button" class="btn btn-warning" [routerLink]="['/companies/' + company_id + '/employees/edit/' + row.index]">ערוך</button>
      <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">מחק עובד</h6>
    <button type="button" class="close" aria-label="סגור" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">בטוח שרוצה למחוק את העובד?</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
    <button type="button" class="btn btn-primary" (click)="deleteItem()">מחק</button>
  </div>
</ng-template>