.categories-item {
    border: 10px solid white;
    height: 25vh;
}

.categories-item-title {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}