<div dir="rtl">
    <div class="row">
        <div (click)="goInside(0)" class="col-md-3 categories-item" style="background: url('../assets/images/categories/1.jpg') no-repeat top left / cover">
            <div class="categories-item-title">מנה עיקרית</div>
        </div>
        <div (click)="goInside(1)" class="col-md-3 categories-item" style="background: url('../assets/images/categories/2.jpg') no-repeat top left / cover">
            <div class="categories-item-title">כריכים</div>
        </div>
        <div (click)="goInside(2)" class="col-md-3 categories-item" style="background: url('../assets/images/categories/3.jpg') no-repeat top left / cover">
            <div class="categories-item-title">סלטים</div>
        </div>
        <div (click)="goInside(3)" class="col-md-3 categories-item" style="background: url('../assets/images/categories/4.png') no-repeat top left / cover">
            <div class="categories-item-title">מנה מוכנה</div>
        </div>
    </div>
    <div class="row">
        <div (click)="goInside(4)" class="col-md-3 categories-item" style="background: url('../assets/images/categories/5.jpg') no-repeat top left / cover">
            <div class="categories-item-title">תוספות</div>
        </div>
        <div (click)="goInside(5)" class="col-md-3 categories-item" style="background: url('../assets/images/categories/6.jpg') no-repeat top left / cover">
            <div class="categories-item-title">רטבים</div>
        </div>
        <div (click)="goInside(6)" class="col-md-3 categories-item" style="background: url('../assets/images/categories/7.jpg') no-repeat top left / cover">
            <div class="categories-item-title">לחם</div>
        </div>
        <div (click)="goInside(7)" class="col-md-3 categories-item" style="background: url('../assets/images/categories/8.jpg') no-repeat top left / cover">
            <div class="categories-item-title">שתיה</div>
        </div>
    </div>
</div>