<ngx-loading [show]="loading" [config]="{}"></ngx-loading>


<div class="row FormClass">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                הזמנה חדשה
            </div>

            <div class="card-body">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
                    <div class="row" >

                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;"  >
                            <label >בחר מסעדה  *</label>
                            <select class="form-control textWhite" [(ngModel)]="fields.resturant_id" name="resturant_id" (change)="onChangeResturant()" required>
                                <option  [value]="" >בחירת מסעדה</option>
                                <option *ngFor="let item of resturantsArray let i=index" [value]="item.index">{{item.name}}</option>
                            </select><br/>
                        </div>


                        <div class="form-group" class="col-lg-6"  style="margin-top: 15px;">
                            <label >* תאריך הספקה </label>
                            <ngb-datepicker #dp [(ngModel)]="fields.deliverydate" name="deliverydate" (ngModelChange)="onChangeDate($event)" class="form-control textWhite"></ngb-datepicker>
                        </div>



                    </div>

                    <div class="row" *ngIf="fields.resturant_id > 0" >
                        <div class="form-group col-lg-12" >
                            <label class="col-form-label">תוספות</label>
                            <div>


                                <angular2-multiselect [data]="resturantTosafotArray"
                                                      [(ngModel)]="selectedTosafot"
                                                      name="selectedTosafot"
                                                      [settings]="dropdownSettings">

                                </angular2-multiselect>

                            </div>
                        </div>
                    </div>




                    <!--
                    <input type="email" class="form-control mb-3" placeholder="Type to filter the name column..." required (keyup)='updateFilter($event)'>
                    -->

                    <div *ngIf="resturantFirstDishMenuArray">

                        <div class="row" >


                            <div class="form-group" class="col-lg-3" *ngFor="let row of resturantFirstDishMenuArray let i=index" style="margin-top: 15px;"  >
                                <div >{{row.name}}</div>
                                <div >
                                    <input type="number" min="0" class="form-control textWhite"   [(ngModel)]="row.quan" name="quan"    ngModel required>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row" *ngIf="fields.resturant_id > 0">

                        <div class="form-group" class="col-lg-12"  style="margin-top: 15px;">
                            <label >* שם המזמין </label>
                            <input type="text" class="form-control textWhite"   [(ngModel)]="fields.fullname" name="fullname"  ngModel required>
                        </div>


                    </div>

                    <div class="row" *ngIf="fields.resturant_id > 0">

                        <div class="form-group" class="col-lg-12">
                            <label >הערות</label>
                            <textarea rows="4" cols="50" class="form-control textWhite"  [(ngModel)]="fields.remarks" name="remarks"  ngModel > </textarea>
                        </div>

                    </div>



                    <br>


                    <div class="row" align="left" style="float: left; margin-left: 5px">
                        <button [disabled]="!f.valid" type="submit"
                                class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                                style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                            <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
                        </button>
                    </div>
                </form>

                <div class="row" *ngIf="errors.length > 0">
                    <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
                </div>


            </div>
        </div>
    </div>
</div>















