

<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-info" [routerLink]="['/companies/' + company_id]" >חזרה</button>
  </div>

</div>

<div class="row p-2">
  <div class="col-md-3 text-left">
    <div class="btn-group" role="group">

    </div>
  </div>
  <div class="col-md-9 text-right">
    <span>תאריך נבחר: </span>
    <span>{{start | amDateFormat: 'DD/MM/YYYY'}}</span>

    <p dir="rtl">שעה: {{nowtime }}</p>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" (click)="assignDates('backward')">אחורה</button>
      <button type="button" class="btn btn-secondary" (click)="assignDates('forward')">קדימה</button>
    </div>
  </div>
</div>


<div class="table-responsive">
  <table class="table table-bordered table-striped mb-0" dir="rtl" style="width: 100%;">
    <thead>
    <tr>
      <th>שם </th>
      <th>מסעדה </th>
      <th>סוג מנה </th>
      <th>מנה ראשונה </th>
      <th>תוספת </th>
      <th>תוספת 2</th>
      <th>רטבים </th>
      <th>לחם </th>
      <th>שתיה </th>
      <th>כמות </th>
      <th>הערות </th>
      <th>פעולות </th>
      <th> </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let row of employeesArray; let i = index">
      <td style="width:6%;">
        <strong>{{row.name}}</strong>
      </td>
      <td style="width:10%;">
        <select class="form-control" id="selectresturant" name="selectresturant" [(ngModel)]="row.selectresturant" (change)="onChangeResturant(row,$event)"   [disabled]="isFieldDisabled" required>
          <option value="">בחירת מסעדה </option>
          <option value="{{item.index}}" *ngFor="let item of resturantsArray let i=index" [attr.valueTitle]="item.name" [attr.valueIndex]="i">{{item.name}} </option>
        </select>
      </td>
      <td style="width:10%;">
        <select class="form-control"  id="selectedfirstdishtype" name="selectedfirstdishtype" [(ngModel)]="row.selectedfirstdishtype" (change)="onChangeFirstDishType(row,$event)" [disabled]="isFieldDisabled || row.fieldDisabled" required>
          <option value="">בחירת סוג מנה ראשונה</option>
          <option value="{{i}}" *ngFor="let item of menuTypesArray1 let i=index" [attr.valueTitle]="item">{{item}}</option>
        </select>
      </td>
      <td style="width:10%;">
        <select class="form-control"  id="selectmainfood" name="selectmainfood" [(ngModel)]="row.selectmainfood" (change)="onChangeSelectFirstDish(row,$event)" [disabled]="isFieldDisabled || row.fieldDisabled"  required>
          <option value="">בחירת מנה ראשונה</option>
          <option value="{{item.index}}" *ngFor="let item of row.resturantFirstDishMenuArray let i=index" [attr.valueTitle]="item.name"> {{item.name}} </option>
        </select>
      </td>
      <td style="width:10%;">
        <select class="form-control"  id="selectedtosefet" name="selectedtosefet" [(ngModel)]="row.selectedtosefet" (change)="onChangeSelectTosefet(row,$event)" [disabled]="isFieldDisabled || row.fieldDisabled" required>
          <option value="">בחירת תוספת</option>
          <option value="{{item.index}}" *ngFor="let item of row.resturantTosafotArray let i=index" [attr.valueTitle]="item.name" [disabled]="row.food_type != 0"> {{item.name}}</option>
        </select>
      </td>
      <td style="width:10%;">
        <select class="form-control"  id="selectedtosefet2" name="selectedtosefet2" [(ngModel)]="row.selectedtosefet2" (change)="onChangeSelectTosefet2(row,$event)" [disabled]="isFieldDisabled || row.fieldDisabled" >
          <option value="">בחירת תוספת שניה</option>
          <option value="{{item.index}}" *ngFor="let item of row.resturantTosafotArray let i=index" [attr.valueTitle]="item.name" [disabled]="row.food_type != 0"> {{item.name}}</option>
        </select>
      </td>
      <td style="width:10%;">
        <select class="form-control"  id="selectedretavim" name="selectedretavim" [(ngModel)]="row.selectedretavim" (change)="onChangeSelectRetavim(row,$event)" [disabled]="isFieldDisabled || row.fieldDisabled" required>
          <option value="">בחירת רטבים</option>
          <option value="{{item.index}}" *ngFor="let item of row.resturantRetavimArray let i=index" [attr.valueTitle]="item.name" [disabled]="row.food_type == 0 || row.food_type == 3"> {{item.name}}</option>
        </select>
      </td>
      <td style="width:10%;">
        <select class="form-control"  id="selectedbread" name="selectedbread" [(ngModel)]="row.selectedbread" (change)="onChangeSelectBread(row,$event)" [disabled]="isFieldDisabled || row.fieldDisabled" required>
          <option value="">בחירת לחם</option>
          <option value="{{item.index}}" *ngFor="let item of row.resturantBreadArray let i=index" [attr.valueTitle]="item.name" [disabled]="row.food_type == 3"> {{item.name}}</option>
        </select>
      </td>
      <td style="width:10%;">
        <select class="form-control"  id="selecteddrink" name="selecteddrink" [(ngModel)]="row.selecteddrink" (change)="onChangeSelectDrink(row,$event)" [disabled]="isFieldDisabled || row.fieldDisabled" required>
          <option value="">בחירת שתיה</option>
          <option value="{{item.index}}" *ngFor="let item of row.resturantDrinksArray let i=index" [attr.valueTitle]="item.name" [disabled]="row.food_type == 3"> {{item.name}}</option>
        </select>
      </td>
      <td style="width:7%;">
        <select class="form-control"  id="selectquan" name="selectquan" [(ngModel)]="row.selectquan" [disabled]="isFieldDisabled || row.fieldDisabled" required>
          <option value="">בחירת כמות</option>
          <option value="{{item}}" *ngFor="let item of tosefetQuanArray let i=index" > {{item}}</option>
        </select>
      </td>
      <td style="width:30%;">
        <textarea class="form-control"  id="selectremarks" name="selectremarks" [(ngModel)]="row.selectremarks" [disabled]="isFieldDisabled || row.fieldDisabled"></textarea>
      </td>
      <td style="width:10%;">
        <button type="button" class="btn btn-success" (click)="openConfirmSaveModal(content, row)" [disabled]="isFieldDisabled || row.fieldDisabled">שמירה</button>
      </td>

      <td style="width:10%;">
        <div *ngIf="row.order_exists == '1'" (click)="getOrderDetails(row.order_id,orderDetailsModal)">
          <img src="assets/images/checkmark.png" height="20" title="צפיה בהזמנה">
        </div>
      </td>

    </tr>

    </tbody>
  </table>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase" style="text-align:right; direction: rtl;">אישור הזמנה</h6>
    <button type="button" class="close" aria-label="סגור" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div  style="text-align:right; direction: rtl;">
      <p> <strong>תאריך:</strong> {{start | amDateFormat: 'DD/MM/YYYY'}}</p>
      <p> <strong>שם עובד/ת:</strong> {{savedDataArray.employee}}</p>
      <p> <strong>מסעדה:</strong> {{savedDataArray.restrurant}}</p>
      <p> <strong>סוג מנה:</strong> {{savedDataArray.manatype}}</p>
      <p> <strong>מנה ראשונה:</strong> {{savedDataArray.firstdish}}</p>
      <p> <strong>תוספת:</strong> {{savedDataArray.tosefet}}</p>
      <p> <strong>תוספת 2: </strong> {{savedDataArray.tosefet2}}</p>
      <p> <strong>רטבים:</strong> {{savedDataArray.retavim}}</p>
      <p> <strong>לחם:</strong> {{savedDataArray.bread}}</p>
      <p> <strong>שתיה:</strong> {{savedDataArray.drink}}</p>
      <p> <strong>כמות:</strong> {{savedDataArray.quan}}</p>
      <p> <strong>הערות:</strong> {{savedDataArray.remarks}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
    <button type="button" class="btn btn-primary" (click)="saveTable(savedModal)">הוספה/עדכון</button>
  </div>
</ng-template>



<ng-template #savedModal>
  <div class="modal-header">
    <h6 class="modal-title text-uppercase" style="text-align:right; direction: rtl;">הזמנה נוספה/עודכנה</h6>
    <button type="button" class="close" aria-label="סגור" (click)="closeSaveModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div  style="text-align:right; direction: rtl;">

      <ngb-alert [dismissible]="false" style="width: 100%;" type="danger" *ngIf="!sent">
        שגיאה בהוספה/עדכון יש לוודא שכל השדות מלאים
      </ngb-alert>


      <ngb-alert [dismissible]="false" style="width: 100%;" type="success" *ngIf="sent">
        ארוחה נוספה/עודכנה בהצלחה
      </ngb-alert>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeSaveModal()">סגור</button>
  </div>
</ng-template>



<ng-template #orderDetailsModal>
  <div class="modal-header">
    <h6 class="modal-title text-uppercase" style="text-align:right; direction: rtl;">פרטי הזמנה</h6>
    <button type="button" class="close" aria-label="סגור" (click)="closeOrderDetailsModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

      <div class="table-responsive">
        <table class="table table-hover" align="center">
          <thead>
          <tr>
            <th>תאריך הזמנה</th>
            <th>הערות</th>
            <th>מנה</th>
            <th> סוג אוכל</th>
            <th> שם הלקוח</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of orderDetailsArray ">

            <td>
              <div>{{row.order_date}}</div>
            </td>
            <td>
              <div>{{row.comments}}</div>
            </td>
            <td>
              <div *ngIf="row.food_type == 0">
                <div>מנה עיקרית: {{row.main.name}}</div>
                <div>לחם: {{row.mod1.name}}</div>
                <div>תוספות: {{row.mod2_second.name}} ,{{row.mod2_first.name}}</div>
                <div>שתיה: {{row.drink.name}}</div>
              </div>
              <div *ngIf="row.food_type == 1">
                <div>כריך: {{row.main.name}}</div>
                <div>לחם: {{row.mod1.name}}</div>
                <div>רטבים: {{row.mod2_second.name}} {{row.mod2_first.name}}</div>
                <div>שתיה: {{row.drink.name}}</div>
              </div>
              <div *ngIf="row.food_type == 2">
                <div>סלט: {{row.main.name}}</div>
                <div>לחם: {{row.mod1.name}}</div>
                <div>רטבים: {{row.mod2_second.name}} {{row.mod2_first.name}}</div>
                <div>שתיה: {{row.drink.name}}</div>
              </div>
              <div *ngIf="row.food_type == 3">
                <div>מנה ארוזה: {{row.fastfood.name}}</div>
              </div>
            </td>
            <td>
              <div *ngIf="row.food_type == 0">מנה מוגשת</div>
              <div *ngIf="row.food_type == 1">כריך</div>
              <div *ngIf="row.food_type == 2">סלט</div>
              <div *ngIf="row.food_type == 3">מנה ארוזה</div>
            </td>
            <td>
              <strong *ngIf="row.customer">{{row.customer.name}}</strong>
            </td>
          </tr>

          </tbody>
        </table>
      </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeOrderDetailsModal()">סגור</button>
  </div>
</ng-template>