<div class="main-div">

    <div class="alert alert-success" role="alert" *ngIf="saved">נשמר בהצלחה!</div>

    <div class="row">

        <div class="col-md-6 p-4">

            <div class="row">
                <div class="col-md-12"><b>שינוי שם ולוגין</b></div>
            </div>

            <form class="form-horizontal" novalidate [formGroup]="form1">

                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-form-label">שם</label>
                        <input class="form-control" formControlName="name" type="text">
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-form-label">לוגין</label>
                        <input class="form-control" formControlName="username" type="text">
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-6">
                        <label class="col-form-label">בחר לוגו</label>
                        <input class="wide-input" name="logo" style="border: 1px solid grey;" (change)="onFileChange($event, 'logo')" type="file" accept="image/*">
                    </div>

                    <div class="form-group col-md-6"  *ngIf="logo && logo.path">
                        <img [src]="logo.path" width="100" style="border: 1px solid grey;">
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-12" style="text-align: left !important;">
                        <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="form1.invalid">שלח</button>
                    </div>
                </div>

            </form>

        </div>

        <div class="col-md-6 p-4">

            <div class="row">
                <div class="col-md-12"><b>שינוי סיסמה</b></div>
            </div>

            <form class="form-horizontal" novalidate [formGroup]="form2">

                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-form-label">סיסמה ישנה</label>
                        <input class="form-control" formControlName="old_password" type="text">
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-form-label">סיסמה חדשה</label>
                        <input class="form-control" formControlName="new_password" type="text">
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-12" style="text-align: left !important;">
                        <button type="submit" (click)="onSubmitPassword()" class="btn btn-primary" [disabled]="form2.invalid">שלח</button>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>







