<div class="row mb-2 ml-2" dir="rtl">
  <div class="menu-link">
    <a class="btn" [ngClass]="{'btn-success': category_id == 0, 'btn-secondary': category_id != 0}" [routerLink]="['/kitchens/' + kitchen_id + '/categories/0/dishes']">מנה עיקרית</a>
  </div>
  <div class="menu-link">
    <a class="btn" [ngClass]="{'btn-success': category_id == 1, 'btn-secondary': category_id != 1}" [routerLink]="['/kitchens/' + kitchen_id + '/categories/1/dishes']">כריכים</a>
  </div>
  <div class="menu-link">
    <a class="btn" [ngClass]="{'btn-success': category_id == 2, 'btn-secondary': category_id != 2}" [routerLink]="['/kitchens/' + kitchen_id + '/categories/2/dishes']">סלטים</a>
  </div>
  <div class="menu-link">
    <a class="btn" [ngClass]="{'btn-success': category_id == 3, 'btn-secondary': category_id != 3}" [routerLink]="['/kitchens/' + kitchen_id + '/categories/3/dishes']">מנה מוכנה</a>
  </div>
  <div class="menu-link">
    <a class="btn" [ngClass]="{'btn-success': category_id == 4, 'btn-secondary': category_id != 4}" [routerLink]="['/kitchens/' + kitchen_id + '/categories/4/dishes']">תוספות</a>
  </div>
  <div class="menu-link">
    <a class="btn" [ngClass]="{'btn-success': category_id == 5, 'btn-secondary': category_id != 5}" [routerLink]="['/kitchens/' + kitchen_id + '/categories/5/dishes']">רטבים</a>
  </div>
  <div class="menu-link">
    <a class="btn" [ngClass]="{'btn-success': category_id == 6, 'btn-secondary': category_id != 6}" [routerLink]="['/kitchens/' + kitchen_id + '/categories/6/dishes']">לחם</a>
  </div>
  <div class="menu-link">
    <a class="btn" [ngClass]="{'btn-success': category_id == 7, 'btn-secondary': category_id != 7}" [routerLink]="['/kitchens/' + kitchen_id + '/categories/7/dishes']">שתיה</a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2">
    <button type="button" class="btn btn-info" [routerLink]="['/kitchens/' + kitchen_id + '/categories/' + category_id + '/dishes/create']">מנה חדשה</button>
  </div>
  <div class="col-md-10">
    <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
  </div>
</div>
<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

  <!-- Column Templates -->

  <ngx-datatable-column name="תמונה" [sortable]="false" [maxWidth]="180">
    <ng-template let-row="row" ngx-datatable-cell-template align="center">
      <img [src]="row.picture" height="50" width="50" *ngIf="row.picture !== ''">
      <img src="assets/images/placeholders/logo.png" height="50" width="50" *ngIf="row.picture === ''">
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="שם">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.name}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="ימים" [sortable]="false" dir="rtl" align="right">
    <ng-template let-row="row" ngx-datatable-cell-template>
        <span *ngFor="let day of row.days" dir="rtl" align="right">
            <span *ngIf="day.day == 0">א</span>
            <span *ngIf="day.day == 1">ב</span>
            <span *ngIf="day.day == 2">ג</span>
            <span *ngIf="day.day == 3">ד</span>
            <span *ngIf="day.day == 4">ה</span>
            <span *ngIf="day.day == 5">ו</span>
            <span *ngIf="day.day == 6">ש</span>
        </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="פעולות" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button type="button" class="btn btn-warning" [routerLink]="['/kitchens/' + kitchen_id + '/categories/' + category_id + '/dishes/edit/' + row.index]">ערוך</button>
      <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">מחק מנה</h6>
    <button type="button" class="close" aria-label="סגור" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">בטוח שרוצה למחוק את המנה?</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
    <button type="button" class="btn btn-primary" (click)="deleteDish()">מחק</button>
  </div>
</ng-template>