<div class="row">
  <div class="col-md-3" >
    <button type="button" class="btn btn-info" (click)="neworderpage()" *ngIf="usertype == 1" >הזמנה חדשה</button>
  </div>
  <div class="col-md-9">
    <input type="text" dir="rtl" class="form-control mb-3" placeholder="Type to filter the title column..." required (keyup)='updateFilter($event)'>
  </div>
</div>


<ngx-datatable
        [headerHeight]="40"
        [footerHeight]="'falsey'"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [rows]="rows">

  <!-- Column Templates -->

  <ngx-datatable-column name="שם החברה" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.company.name}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="שם המסעדה" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.resturant.name}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="שם המזמין" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.fullname}}</strong>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="סוג אוכל" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div *ngIf="row.food_type == 0">מנה מוגשת</div>
      <div *ngIf="row.food_type == 1">כריך</div>
      <div *ngIf="row.food_type == 2">סלט</div>
      <div *ngIf="row.food_type == 3">מנה ארוזה</div>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="מנה" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div *ngIf="row.food_type == 0">
        <div>מנה עיקרית: {{row.main.name}}</div>
        <div>לחם: {{row.mod1.name}}</div>
        <div>תוספות: {{row.mod2_second.name}} ,{{row.mod2_first.name}}</div>
        <div>שתיה: {{row.drink.name}}</div>
      </div>
      <div *ngIf="row.food_type == 1">
        <div>כריך: {{row.main.name}}</div>
        <div>לחם: {{row.mod1.name}}</div>
        <div>רטבים: {{row.mod2_second.name}} {{row.mod2_first.name}}</div>
        <div>שתיה: {{row.drink.name}}</div>
      </div>
      <div *ngIf="row.food_type == 2">
        <div>סלט: {{row.main.name}}</div>
        <div>לחם: {{row.mod1.name}}</div>
        <div>רטבים: {{row.mod2_second.name}} {{row.mod2_first.name}}</div>
        <div>שתיה: {{row.drink.name}}</div>
      </div>
      <div *ngIf="row.food_type == 3">
        <div>מנה ארוזה: {{row.fastfood.name}}</div>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="כמות" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.quantity}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="הערות" [sortable]="false" [maxWidth]="250">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong *ngIf="row.comments">{{row.comments}}</strong>
      <strong *ngIf="!row.comments">אין נתונים</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="תאריך הספקה" [sortable]="false" [maxWidth]="180">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong *ngIf="row.order_date">{{row.order_date}}</strong>
      <strong *ngIf="!row.order_date">אין נתונים</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="תאריך הזמנה" [sortable]="false" [maxWidth]="180">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong *ngIf="row.date">{{row.date}}</strong>
      <strong *ngIf="!row.date">אין נתונים</strong>
    </ng-template>
  </ngx-datatable-column>

  <!--

  <ngx-datatable-column name="פעולות" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button type="button" class="btn btn-warning"  (click)="goEditPage(row.id)">ערוך</button>
      <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, row)">מחק</button>
    </ng-template>
  </ngx-datatable-column>
-->
</ngx-datatable>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">מחק הזמנה</h6>
    <button type="button" class="close" aria-label="סגור" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">בטוח שרוצה למחוק את ההזמנה?</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
    <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
  </div>
</ng-template>