<ngx-loading [show]="loading" [config]="{}"></ngx-loading>


<div class="row FormClass">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                הזמנה חדשה
            </div>

            <div class="card-body">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
                    <div class="row" >

                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;"  >
                            <label >בחר מסעדה  *</label>
                            <select class="form-control textWhite" [(ngModel)]="fields.resturant_id" name="resturant_id" (change)="onChangeResturant($event)" required>
                                <option  [value]="0" *ngIf="fields.resturant_id == 0">בחירת מסעדה</option>
                                <option *ngFor="let item of resturantsArray let i=index" [value]="item.index">{{item.name}}</option>
                            </select><br/>
                        </div>


                        <div class="form-group" class="col-lg-6"  style="margin-top: 15px;">
                            <label >* תאריך הספקה </label>
                            <ngb-datepicker #dp [(ngModel)]="fields.deliverydate" name="deliverydate" (ngModelChange)="onChangeDate($event)" class="form-control textWhite"></ngb-datepicker>
                        </div>
                    </div>

                    <div class="row" >

                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;"   >
                            <label >בחר סוג מנה * </label>
                            <select class="form-control textWhite" [(ngModel)]="fields.dishtype" name="dishtype"  (change)="onChangeFirstDishType($event)" required>
                                <option *ngFor="let item of menuTypesArray1 let i=index" [value]="i" >{{item}}</option>
                            </select><br/>
                        </div>

                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;"  >
                            <label >בחירת מנה ראשונה  * </label>
                            <select class="form-control textWhite" [(ngModel)]="fields.firstdish" name="firstdish" required>
                                <option  [value]="0" *ngIf="fields.dishtype == -1">יש לבחור סוג מנה</option>
                                <option *ngFor="let item of resturantFirstDishMenuArray let i=index" [value]="item.index">{{item.name}}</option>
                            </select><br/>
                        </div>
                    </div>

                    <div class="row" >

                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;"  >
                            <label >בחירת תוספת </label>
                            <select class="form-control textWhite" [(ngModel)]="fields.tosefet_id" name="tosefet_id"  [disabled]="fields.dishtype != 0">
                                <option value="0">בחירת תוספת</option>
                                <option *ngFor="let item of resturantTosafotArray let i=index" [value]="item.index">{{item.name}}</option>
                            </select><br/>
                        </div>

                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;"  >
                            <label >בחירת תוספת 2</label>
                            <select class="form-control textWhite" [(ngModel)]="fields.tosefet2_id" name="tosefet2_id"  [disabled]="fields.dishtype != 0">
                                <option value="0">בחירת תוספת</option>
                                <option *ngFor="let item of resturantTosafotArray let i=index" [value]="item.index">{{item.name}}</option>
                            </select><br/>
                        </div>
                    </div>

                    <div class="row" >

                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;"  >
                            <label >בחירת רטבים </label>
                            <select class="form-control textWhite" [(ngModel)]="fields.retavim_id" name="retavim_id"  [disabled]="fields.dishtype == 0 || fields.dishtype == 3">
                                <option value="0">בחירת רטבים</option>
                                <option *ngFor="let item of resturantRetavimArray let i=index" [value]="item.index">{{item.name}}</option>
                            </select><br/>
                        </div>

                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;"  >
                            <label >בחירת לחם </label>
                            <select class="form-control textWhite" [(ngModel)]="fields.bread_id" name="bread_id"  [disabled]="fields.dishtype == 3">
                                <option value="0">בחירת לחם</option>
                                <option *ngFor="let item of resturantBreadArray let i=index" [value]="item.index">{{item.name}}</option>
                            </select><br/>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;"  >
                            <label >בחירת שתיה </label>
                            <select class="form-control textWhite" [(ngModel)]="fields.drink_id" name="drink_id"  [disabled]="fields.dishtype == 3">
                                <option value="0">בחירת שתיה</option>
                                <option *ngFor="let item of resturantDrinksArray let i=index" [value]="item.index">{{item.name}}</option>
                            </select><br/>
                        </div>
                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;"  >
                            <label >בחירת כמות </label>
                            <select class="form-control textWhite" [(ngModel)]="fields.tosefet_quan" name="tosefet_quan"  required>
                                <option *ngFor="let item of tosefetQuanArray let i=index" [value]="item">{{item}}</option>
                            </select><br/>
                        </div>
                    </div>


                    <div class="row">

                        <div class="form-group" class="col-lg-12"  style="margin-top: 15px;">
                            <label >* שם המזמין </label>
                            <input type="text" class="form-control textWhite"   [(ngModel)]="fields.fullname" name="fullname"  ngModel required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group" class="col-lg-12">
                            <label >הערות</label>
                            <textarea rows="4" cols="50" class="form-control textWhite"  [(ngModel)]="fields.remarks" name="remarks"  ngModel > </textarea>
                        </div>

                    </div>


                    <br>


                    <div class="row" align="left" style="float: left; margin-left: 5px">
                        <button [disabled]="!f.valid" type="submit"
                                class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                                style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                            <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
                        </button>
                    </div>
                </form>

                <div class="row" *ngIf="errors.length > 0">
                    <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
                </div>


            </div>
        </div>
    </div>
</div>















