<div class="card">
  <div class="card-header">Angular2 File Upload</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <p>Select files</p>

        <div ng2FileDrop
          [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
          (fileOver)="fileOverBase($event)"
          [uploader]="uploader"
          class="well my-drop-zone">
          Base drop zone
        </div>

        <div ng2FileDrop
          [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
          (fileOver)="fileOverAnother($event)"
          [uploader]="uploader"
          class="well my-drop-zone">
          Another drop zone
        </div>

        Multiple
        <label class="custom-file mb-3">
          <input type="file" ng2FileSelect [uploader]="uploader" multiple class="custom-file-input">
          <span class="custom-file-control"></span>
        </label>

        Single
        <label class="custom-file">
          <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input" >
          <span class="custom-file-control"></span>
        </label>
      </div>

      <div class="col-md-9">
        <p>Upload queue</p>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
          <thead>
            <tr>
              <th width="50%">Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td *ngIf="uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-sm"
                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-sm"
                (click)="item.cancel()" [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-sm"
                (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div>
          <p>Queue progress: <ngb-progressbar type="primary" [value]="uploader.progress"></ngb-progressbar></p>
          <button type="button" class="btn btn-success"
            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-warning"
            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
          </button>
          <button type="button" class="btn btn-danger"
            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
